@model IEnumerable<DellChallenge.D2.Web.Models.ProductModel>

@{
    ViewData["Title"] = "View";
}
<h4>All Products</h4>
<hr />

<table style="width:100%">
    <tr>
        <th><b>Category</b></th>
        <th><b>Name</b></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Category
        </td>
        <td>
            @item.Name
        </td>
        <td>
            <a asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Edit</a>
        </td>
        <td>
            <a asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    }
</table>
